<p id="notice"><%= notice %></p>

<h1>Outcome Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actorid</th>
      <th>Action</th>
      <th>Objectid</th>
      <th>Assignableid</th>
      <th>Assignablemaxscore</th>
      <th>Assignableispartof</th>
      <th>Generatedid</th>
      <th>Generatedtotalscore</th>
      <th>Generatedscoredby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outcome_events.each do |outcome_event| %>
      <tr>
        <td><%= outcome_event.actorId %></td>
        <td><%= outcome_event.action %></td>
        <td><%= outcome_event.objectId %></td>
        <td><%= outcome_event.assignableId %></td>
        <td><%= outcome_event.assignableMaxScore %></td>
        <td><%= outcome_event.assignableIsPartOf %></td>
        <td><%= outcome_event.generatedId %></td>
        <td><%= outcome_event.generatedTotalScore %></td>
        <td><%= outcome_event.generatedScoredBy %></td>
        <td><%= link_to 'Show', outcome_event %></td>
        <td><%= link_to 'Edit', edit_outcome_event_path(outcome_event) %></td>
        <td><%= link_to 'Destroy', outcome_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outcome Event', new_outcome_event_path %>
