<p id="notice"><%= notice %></p>

<h1>Outcome Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Object</th>
      <th>Assignable</th>
      <th>Max Score</th>
      <th>Is Part Of</th>
      <th>Generated</th>
      <th>Total Score</th>
      <th>Scored By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outcome_events.each do |outcome_event| %>
      <tr>
        <td><%= outcome_event.actor_id %></td>
        <td><%= outcome_event.action %></td>
        <td><%= outcome_event.object_id %></td>
        <td><%= outcome_event.assignable_id %></td>
        <td><%= outcome_event.assignable_max_score %></td>
        <td><%= outcome_event.assignableis_part_of %></td>
        <td><%= outcome_event.generated_id %></td>
        <td><%= outcome_event.generated_total_score %></td>
        <td><%= outcome_event.generated_scored_by %></td>
        <td><%= link_to 'Show', outcome_event %></td>
        <td><%= link_to 'Edit', edit_outcome_event_path(outcome_event) %></td>
        <td><%= link_to 'X', outcome_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Caliper Home', "/" %>
