<p id="notice"><%= notice %></p>

<p>
  <strong>Actorid:</strong>
  <%= @outcome_event.actorId %>
</p>

<p>
  <strong>Action:</strong>
  <%= @outcome_event.action %>
</p>

<p>
  <strong>Objectid:</strong>
  <%= @outcome_event.objectId %>
</p>

<p>
  <strong>Assignableid:</strong>
  <%= @outcome_event.assignableId %>
</p>

<p>
  <strong>Assignablemaxscore:</strong>
  <%= @outcome_event.assignableMaxScore %>
</p>

<p>
  <strong>Assignableispartof:</strong>
  <%= @outcome_event.assignableIsPartOf %>
</p>

<p>
  <strong>Generatedid:</strong>
  <%= @outcome_event.generatedId %>
</p>

<p>
  <strong>Generatedtotalscore:</strong>
  <%= @outcome_event.generatedTotalScore %>
</p>

<p>
  <strong>Generatedscoredby:</strong>
  <%= @outcome_event.generatedScoredBy %>
</p>

<%= link_to 'Edit', edit_outcome_event_path(@outcome_event) %> |
<%= link_to 'Back', outcome_events_path %>
