<p id="notice"><%= notice %></p>

<p>
  <strong>actor_id:</strong>
  <%= @outcome_event.actor_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @outcome_event.action %>
</p>

<p>
  <strong>object_id:</strong>
  <%= @outcome_event.object_id %>
</p>

<p>
  <strong>assignable_id:</strong>
  <%= @outcome_event.assignable_id %>
</p>

<p>
  <strong>Assignablemax_score:</strong>
  <%= @outcome_event.assignablemax_score %>
</p>

<p>
  <strong>Assignableis_part_of:</strong>
  <%= @outcome_event.assignableis_part_of %>
</p>

<p>
  <strong>generated_id:</strong>
  <%= @outcome_event.generated_id %>
</p>

<p>
  <strong>generated_total_score:</strong>
  <%= @outcome_event.generated_total_score %>
</p>

<p>
  <strong>generated_scored_by:</strong>
  <%= @outcome_event.generated_scored_by %>
</p>

<%= link_to 'Edit', edit_outcome_event_path(@outcome_event) %> |
<%= link_to 'Back', outcome_events_path %>
