<p id="notice"><%= notice %></p>

<h1>Assessment Item Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Object</th>
      <th>Max Score</th>
      <th>Is Part Of</th>
      <th>Generated</th>
      <th>Count</th>
      <th>Started At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_item_events.each do |assessment_item_event| %>
      <tr>
        <td><%= assessment_item_event.actor_id %></td>
        <td><%= assessment_item_event.action %></td>
        <td><%= assessment_item_event.object_id %></td>
        <td><%= assessment_item_event.max_score %></td>
        <td><%= assessment_item_event.is_part_of %></td>
        <td><%= assessment_item_event.generated_id %></td>
        <td><%= assessment_item_event.generated_count %></td>
        <td><%= assessment_item_event.generated_started_at_time %></td>
        <td><%= link_to 'Show', assessment_item_event %></td>
        <td><%= link_to 'Edit', edit_assessment_item_event_path(assessment_item_event) %></td>
        <td><%= link_to 'X', assessment_item_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Caliper Home', "/" %>
