<p id="notice"><%= notice %></p>

<p>
  <strong>actor_id:</strong>
  <%= @assessment_item_event.actor_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @assessment_item_event.action %>
</p>

<p>
  <strong>object_id:</strong>
  <%= @assessment_item_event.object_id %>
</p>

<p>
  <strong>max_score:</strong>
  <%= @assessment_item_event.max_score %>
</p>

<p>
  <strong>is_part_of:</strong>
  <%= @assessment_item_event.is_part_of %>
</p>

<p>
  <strong>generated_id:</strong>
  <%= @assessment_item_event.generated_id %>
</p>

<p>
  <strong>generated_count:</strong>
  <%= @assessment_item_event.generated_count %>
</p>

<p>
  <strong>generated_started_at_time:</strong>
  <%= @assessment_item_event.generated_started_at_time %>
</p>

<%= link_to 'Edit', edit_assessment_item_event_path(@assessment_item_event) %> |
<%= link_to 'Back', assessment_item_events_path %>
