<p id="notice"><%= notice %></p>

<h1>Caliper Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Payload Data Only</th>
      <th>Created At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @caliper_events.each do |caliper_event| %>
      <tr>
        <%
        data=JSON.parse(caliper_event.payload)["data"]
        data.each do |item|
          printitem=JSON.pretty_generate(item.as_json)
        %>
        <td>
        EVENT DATA <%=printitem%>
        <p/>
        </td>
        <%end%>
        <td><%=link_to "View Full Caliper Event",caliper_event%></td>
        <td><%= caliper_event.created_at %></td>
        <td><%= link_to 'Edit', edit_caliper_event_path(caliper_event) %></td>
        <td><%= link_to 'X', caliper_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
