<p id="notice"><%= notice %></p>

<h1>Caliper Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Object</th>
      <th>Created At</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @caliper_events.each do |caliper_event| %>
      <tr>
        <td><%=actor_from_event(caliper_event)%></td>
        <td><%=link_to action_from_event(caliper_event),caliper_event%> <%= link_to 'Edit', edit_caliper_event_path(caliper_event) %></td>

        <td><%=object_from_event(caliper_event)%></td>
        <td><%= caliper_event.created_at %></td>
        <td><%= link_to 'X', caliper_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Caliper Home', "/" %>
