<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <pre>
<%
data=JSON.parse(@caliper_event.payload)["data"]
data.each do |item|
  printitem=JSON.pretty_generate(item.as_json)
%>
<%=printitem.to_s%>
<p/>
<%end%>
  </pre>
</p>

<p>
  <strong>Time:</strong>
  <%= @caliper_event.created_at %>
</p>

<%= link_to 'Edit', edit_caliper_event_path(@caliper_event) %> |
<%= link_to 'Back', caliper_events_path %>
