<%= form_for(media_event) do |f| %>
  <% if media_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(media_event.errors.count, "error") %> prohibited this media_event from being saved:</h2>

      <ul>
      <% media_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.text_field :actor_id %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="field">
    <%= f.label :object_id %>
    <%= f.text_field :object_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
