<p id="notice"><%= notice %></p>

<h1>Media Events</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_events.each do |media_event| %>
      <tr>
        <td><%= media_event.actor_id %></td>
        <td><%= media_event.action %></td>
        <td><%= media_event.object_id %></td>
        <td><%= link_to 'Show', media_event %></td>
        <td><%= link_to 'Edit', edit_media_event_path(media_event) %></td>
        <td><%= link_to 'Destroy', media_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media Event', new_media_event_path %>
