<p id="notice"><%= notice %></p>

<p>
  <strong>Actor:</strong>
  <%= @media_event.actor_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @media_event.action %>
</p>

<p>
  <strong>Object:</strong>
  <%= @media_event.object_id %>
</p>

<%= link_to 'Edit', edit_media_event_path(@media_event) %> |
<%= link_to 'Back', media_events_path %>
