<%= form_for(assessment_event) do |f| %>
  <% if assessment_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assessment_event.errors.count, "error") %> prohibited this assessment_event from being saved:</h2>

      <ul>
      <% assessment_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.text_field :actor_id %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="field">
    <%= f.label :object_id %>
    <%= f.text_field :object_id %>
  </div>

  <div class="field">
    <%= f.label :generated_id %>
    <%= f.text_field :generated_id %>
  </div>

  <div class="field">
    <%= f.label :generated_ended_at_time %>
    <%= f.datetime_select :generated_ended_at_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
