<p id="notice"><%= notice %></p>

<h1>Assessment Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actorid</th>
      <th>Action</th>
      <th>Objectid</th>
      <th>Generatedid</th>
      <th>Generatedendedattime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_events.each do |assessment_event| %>
      <tr>
        <td><%= assessment_event.actorId %></td>
        <td><%= assessment_event.action %></td>
        <td><%= assessment_event.objectId %></td>
        <td><%= assessment_event.generatedId %></td>
        <td><%= assessment_event.generatedEndedAtTime %></td>
        <td><%= link_to 'Show', assessment_event %></td>
        <td><%= link_to 'Edit', edit_assessment_event_path(assessment_event) %></td>
        <td><%= link_to 'X', assessment_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
