<p id="notice"><%= notice %></p>

<p>
  <strong>actor_id:</strong>
  <%= @assessment_event.actor_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @assessment_event.action %>
</p>

<p>
  <strong>object_id:</strong>
  <%= @assessment_event.object_id %>
</p>

<p>
  <strong>generated_id:</strong>
  <%= @assessment_event.generated_id %>
</p>

<p>
  <strong>generated_ended_at_time:</strong>
  <%= @assessment_event.generated_ended_at_time %>
</p>

<%= link_to 'Edit', edit_assessment_event_path(@assessment_event) %> |
<%= link_to 'Back', assessment_events_path %>
