<%= form_for(grade_event) do |f| %>
  <% if grade_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade_event.errors.count, "error") %> prohibited this grade_event from being saved:</h2>

      <ul>
      <% grade_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.text_field :actor_id %>
  </div>

  <div class="field">
    <%= f.label :action %>
    <%= f.text_field :action %>
  </div>

  <div class="field">
    <%= f.label :object_id %>
    <%= f.text_field :object_id %>
  </div>

  <div class="field">
    <%= f.label :assignable_id %>
    <%= f.text_field :assignable_id %>
  </div>

  <div class="field">
    <%= f.label :assignable_max_score %>
    <%= f.number_field :assignable_max_score %>
  </div>

  <div class="field">
    <%= f.label :assignable_is_part_of %>
    <%= f.text_field :assignable_is_part_of %>
  </div>

  <div class="field">
    <%= f.label :generated_id %>
    <%= f.text_field :generated_id %>
  </div>

  <div class="field">
    <%= f.label :generated_total_score %>
    <%= f.number_field :generated_total_score %>
  </div>

  <div class="field">
    <%= f.label :generated_scored_by %>
    <%= f.text_field :generated_scored_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
