<p id="notice"><%= notice %></p>

<h1>grade Events</h1>

<table border="1">
  <thead>
    <tr>
      <th>Actor</th>
      <th>Action</th>
      <th>Object</th>
      <th>Assignable</th>
      <th>Max Score</th>
      <th>Is Part Of</th>
      <th>Generated</th>
      <th>Total Score</th>
      <th>Scored By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_events.each do |grade_event| %>
      <tr>
        <td><%= grade_event.actor_id %></td>
        <td><%= grade_event.action %></td>
        <td><%= grade_event.object_id %></td>
        <td><%= grade_event.assignable_id %></td>
        <td><%= grade_event.assignable_max_score %></td>
        <td><%= grade_event.assignable_is_part_of %></td>
        <td><%= grade_event.generated_id %></td>
        <td><%= grade_event.generated_total_score %></td>
        <td><%= grade_event.generated_scored_by %></td>
        <td><%= link_to 'Show', grade_event %></td>
        <td><%= link_to 'Edit', edit_grade_event_path(grade_event) %></td>
        <td><%= link_to 'X', grade_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Caliper Home', "/" %>
